<!DOCTYPE html>
<html>
<head>
  <title>Bx block stripe integration</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "bx_block_stripe_integration/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
